<footer class="footer-2 bg-primary" id="social">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center mb64 mb-xs-24">
          <a href="index.html">
            <h4>Dan Lauer Schumacher Photography</h4>
            <!-- <img alt="Logo" class="image-xs mb16" src="img/logo-light.png"> -->
          </a>
          <!-- <p class="lead mb48 mb-xs-16"> -->
            <!-- 1450 Malvern Rd • Suite 10 2nd Floor<br> -->
            <!-- Glen Iris, Melbourne 3146<br> -->
            <!-- (03) 83726 4782 -->
          <!-- </p> -->
          <ul class="list-inline social-list spread-children">
            <li><a href="https://www.instagram.com/danlauerphoto/"><i class="icon icon-sm ti-dribbble"></i></a></li>
            <li><a href="https://www.facebook.com/danlauerphotography/"><i class="icon icon-sm ti-facebook"></i></a></li>
            <!-- <li><a href="#"><i class="icon icon-sm ti-dribbble"></i></a></li> -->
            <!-- <li><a href="#"><i class="icon icon-sm ti-vimeo-alt"></i></a></li> -->
          </ul>
        </div>
      </div>
    
      <div class="row fade-half">
        <div class="col-sm-4 text-center-xs">
          © Copyright 2018 Dan Lauer Schumacher
        </div>
      
        <div class="col-sm-4 text-center hidden-xs">
          <!-- <span>Website Design &amp; Development</span> -->
        </div>
      
        <div class="col-sm-4 text-right hidden-xs">
          <!-- <span>hello@mrare.co</span> -->
        </div>
      </div>
    </div>
  </footer>