<header>
  <div class="navbar navbar-default navbar-fixed-top">
		    
		    
		
		    
    <nav>
        <div class="nav-bar">
            <div class="module left">
                <a href="index.html"> 
                    <h4>Dan Lauer Photography</h4>
                    <!-- <img class="logo logo-light" alt="Dan Lauer Schumacher Photography" src="img/logo-light.png"> -->
                    <!-- <img class="logo logo-dark" alt="Dan Lauer Schumacher Photography" src="img/logo-dark.png"> -->
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        <li> 
                            <a href="/index.html#about">About</a>
                        </li>
            <li>
                            <a href="/index.html#information">Information</a>
            </li>
            <li>
                            <a href="/index.html#contact">Contact</a>
            </li>
            <li>
                            <a href="/index.html#social">Social Media</a>
                        </li>
                        <li class="has-dropdown">
                            <a href="/portfolio.html">Portfolio</a>
                            <ul class="mega-menu">
                                <li>
                                    <ul>
                                        <li>
                                            <a href="/family.html">Family Photos</a>
                    </li>
                    <li>
                                            <a href="/portrait.html">Portrait Photos</a>
                    </li>
                    <li>
                                            <a href="/wedding.html">Wedding Photos</a>
                                        </li>
                                    </ul>
                                </li>
                                
                            </ul>
            </li>
            <li>
                            <a href="#">Blog</a>
                        </li>
                        
                    </ul>
                </div>
                
                
            </div>
            
        </div>
    </nav>

    
    

    
    

</div>
      </header>